.forgot-screen {
    height: 100vh;
    width: 100%;
    background: url('../assets/forgot-password.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(235, 244, 255, 0.95);

    h1 {
        font-size: 6.4rem;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    p {
        font-size: 1.8rem;
        line-height: 24px;
        width: 454px;
        text-align: center;
        margin-bottom: 5%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .forgot-input {
            background: #ffffff;
            width: 65%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            font-size: 2.4rem;
            border: none;
            height: 50px;
            padding-left: 3%;
        }

        .forgot-validation-error {
            width: 65%;
            text-align: left;
            padding-top: 2%;
            font-size: 2rem;
            color: #ea1601;
        }

        .forgot-btn {
            margin-top: 5%;
            background: #FCDE7B;
            border: none;
            padding: 1rem 0;
            font-size: 2.8rem;
            width: 65%;
            margin-bottom: 5%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            text-transform: none;
            color: black;
            transition: .25s ease-in-out;
            cursor: pointer;

            &:hover {
                background: coral;
                color: white;
            }
        }
    }

    .return-login {
        font-size: 1.8rem;
        line-height: 24px;
        color: #f17012;
        

        &:hover {
            border-bottom: 2px solid #f17012;
        }
    }

    .email-sent {
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        svg {
            color: #64bc26;
            font-size: 9rem;
            padding: 10%;
            width: 100%;
            border: 5px solid #64bc26;
            border-radius: 50px;
        }
    }
}

@media (max-width: 850px) {
    .forgot-wrapper {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .forgot-wrapper {
        width: 80%;
    
    
    
        h1 {
            text-align: center;
            margin-bottom: 3%;
            font-size: 3rem;
            font-weight: bold;
            margin-top: 5%;
        }
        p {
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 4%;
            width: 80%;
            line-height: 2.4rem;
        }
        .return-login {
            font-size: 1.3rem;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 3rem;
            width: 80%;
    
    
    
            .errors {
                color: red;
            }
    
            .error-modal {
                background: #ea1601;
                color: white;
                border-radius: 10px;
                width: 55%;
                padding: 2%;
            }
    
            .success-modal {
                background: #64bc26;
                color: white;
                border-radius: 10px;
                width: 55%;
                padding: 2%;
            }
            .signup-btn {
                background: #FCDE7B;
                font-size: 2rem;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                border: none;
                transition: .25s ease-in-out;
                align-self: center;
                margin-top: 3rem;
                margin-bottom: 3rem;
                width: 65%;
            
                &:hover {
                    background: coral;
                    color: white;
                    cursor: pointer;
                }
            }
    
            .forgot-input { 
                margin-bottom: 5%;
                width: 80%;
                background-color: #ffffff;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                padding-left: 8px;
    
                input {
                    font-size: 2.5rem;
                }
            }
    
            .forgot-btn {
                background: #FCDE7B;
                font-size: 2rem;
                border-radius: .5rem;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                border: none;
                transition: .25s ease-in-out;
                align-self: center;
                margin-top: 2.5rem;
                margin-bottom: 3rem;
                width: 80%;
            
                &:hover {
                    background: coral;
                    color: white;
                    cursor: pointer;
                }
            }
    
            .options {
                font-size: 1.3rem;
                a {
                    font-size: 1.5rem;
                    color: #f17012;
                }
            }
        }
        
        .login-input {
            border: none;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
            margin-bottom: 2rem;
            width: 80%;
            height: 50px;
            font-size: 24px;
            padding-left: 8px;
            background: white;
        }
    
        .signup-btn {
            background: #FCDE7B;
            font-size: 2rem;
            border-radius: .5rem;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            border: none;
            transition: .25s ease-in-out;
            align-self: center;
            margin-top: 2.5rem;
            margin-bottom: 3rem;
            width: 65%;
        
            &:hover {
                background: coral;
                color: white;
                cursor: pointer;
            }
        }
    
    }
}