.login-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url('../assets/edgar-castrejon-1CsaVdwfIew-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 45%;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(235, 244, 255, 0.95);
    h1 {
        font-size: 6.4rem;
        margin-top: 5%;
        margin-bottom: 4%;
        font-weight: bold;
    }
    p {
        font-size: 1.8rem;
        line-height: 24px;
        width: 454px;
        text-align: center;
        margin-bottom: 5%;
    }

    .error-modal {
        background: #ea1601;
        color: white;
        border-radius: 10px;
        width: 55%;
        padding: 2%;
    }

    .success-modal {
        background: #64bc26;
        color: white;
        border-radius: 10px;
        width: 55%;
        padding: 2%;
    }
    
    .errors {
        color: red;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        .login-input {
            margin-bottom: 5%;
            background: #ffffff;
            width: 65%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            font-size: 2.4rem;
            border: none;
            height: 50px;
            padding-left: 3%;
        }

        .login-btn {
            background: #FCDE7B;
            border: none;
            font-size: 2.5rem;
            width: 65%;
            margin-top: 2%;
            margin-bottom: 5%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            text-transform: none;
            color: black;
            transition: .25s ease-in-out;
            cursor: pointer;
            padding: 1rem 0;

            &:hover {
                background: coral;
                color: white;
            }
        }
    }
    .options {
        font-size: 2rem;
        line-height: 24px;
        a {
            font-size: 2rem;
            line-height: 24px;
            color: #F17012;
            
            &:hover {
                border-bottom: 2px solid #f17012;
            }
        }
    }
}
.cookin-button-login {
    background: #FCDE7B;
    border-radius: .5rem;
    font-size: 2.8rem;
    box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
    border: none;
    transition: .25s ease-in-out;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 25vw;

        .options {
            font-size: 2rem;

            a {
                color: #f17012;

                &:hover {
                    border-bottom: 2px solid #f17012;
                }
                
            }
        }

        
    }

@media (max-width: 500px) {
    #login-input {
        border: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
        margin-bottom: 2rem;
        width: 80%;
        height: 50px;
        font-size: 24px;
        padding-left: 8px;
        background: white;
    }
    .login-screen {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url('../assets/edgar-castrejon-1CsaVdwfIew-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 20% 45%;
    }
    .login-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        background: rgba(235, 244, 255, 0.95);
        h1 {
            font-size: 4rem;
            margin-top: 5%;
            margin-bottom: 4%;
            font-weight: bold;
        }
        p {
            font-size: 1.3rem;
            width: 80%;
            text-align: center;
            margin-bottom: 5%;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .MuiFormControl-root {
                margin-bottom: 5%;
                width: 358px;
                background: #ffffff;
                width: 60%;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                
                input {
                    font-size: 2.5rem;
                }
            }
            .login-btn {
                background: #FCDE7B;
                font-size: 2rem;
                border-radius: .5rem;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                border: none;
                transition: .25s ease-in-out;
                align-self: center;
                margin-top: 2.5rem;
                margin-bottom: 3rem;
                width: 65%;
            
                &:hover {
                    background: coral;
                    color: white;
                    cursor: pointer;
                }
            }
        }
        .options {
            font-size: 1.3rem;
            a {
                font-size: 1.3rem;
                color: #F17012;
            }
        }
    }
}