.search-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 2rem 4rem 2rem;
    background: url('../assets/reciplease-search.png');
    background-size: cover;

    .search-bar {
        display: flex;
        width: 90rem;
        transition: opacity .75s;
        opacity: 1;
    }
}

.search-input {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80.21%, rgba(0, 0, 0, 0.25) 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    height: 5.5rem;
    width: 60rem;
    margin-right: .3rem;
    line-height: 87%;
    font-size: 2.4rem;
    padding-left: 3%;
}

#search-button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 88.02%, #B8B6B6 100%),
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 55.73%),
    linear-gradient(0deg, #FCDE7B, #FCDE7B);
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    width: 182px;
    height: 5.5rem;
    transition: .25s ease-in-out;

    &:hover {
        cursor: pointer;
        color: white;
        background: coral;
    }
}
.cards-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    margin-top: 4rem;
    transition: opacity .75s;
    opacity: 1;
}
#cards-wrapper-loading {
    opacity: 0
}
#no-wrapper {
    display: none;
}
.card {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    border: none;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    background: white;
    border-radius: 10px;

    &:hover {
        background: #f8f0e3;
    }
}
.card-content {
    width: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-top: 2%;

    .recipe-info {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        margin-top: 6%;

        p {
            font-size: 2rem;
            text-align: center;
            line-height: 1.5;
        }
    }
}
.recipe-image {
    width: 40rem;
    object-fit: cover;
    // border-radius: 12px;
    margin: 2%;
}
.recipe-title {
    font-size: 3rem;
    text-align: center;
}

.learn-more {
    margin-top: 6%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50%;

    button {
        background: linear-gradient(0deg, #FCDE7B, #FCDE7B); ;
        color: black;
        font-size: 1.8rem;
        width: 50%;
        border: none;
        height: 5vh;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
            background: coral;
            color: #fff;
        }
    }
}