.search-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 2rem 4rem 2rem;
    background: url('../assets/reciplease-search.png');
    background-size: cover;

    .search-header {
        display: flex;
        justify-content: space-between;
        height: 10%;
        padding: 2rem 0 0 0;
        position: absolute;
        top: 0;
        width: 100vw;

        div {
            .anticon-book {
                font-size: 48px;
                color: coral;
                margin: 3rem 0 0 2rem;
                transition: .25s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: #FCDE7B;
                }
            }
        }


        .logout-div {
            margin-top: 3rem;
            margin-right: 2rem;
            .logout-link {
                color: coral;
                font-size: 2.5rem;
                text-decoration: underline;
            }
        }
        
    }

    .search-form {
        display: flex;
        width: 90rem;
        transition: opacity .75s;
        opacity: 1;
        
        .search-input {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80.21%, rgba(0, 0, 0, 0.25) 100%),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
            height: 5.5rem;
            width: 60rem;
            margin-left: 6rem;
            margin-right: .3rem;
            line-height: 87%;
            font-size: 2.4rem;
            padding-left: 3%;
        }

        .search-button {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 88.02%, #B8B6B6 100%),
            linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 55.73%),
            linear-gradient(0deg, #FCDE7B, #FCDE7B);
            font-family: Roboto;
            font-size: 3rem;
            font-weight: 400;
            text-align: center;
            width: 182px;
            height: 5.5rem;
            transition: .25s ease-in-out;
        
            &:hover {
                cursor: pointer;
                color: white;
                background: coral;
            }
        }
    }
}

.drawer-container {
    display: flex;
    flex-direction: column;
    .drawer-recipe-image {
        width: 500px;
        display: flex;
        align-self: center;
        justify-self: center;

        object-fit: cover;
        border-radius: 10px;
        margin-top: 4%;
    }

    .drawer-card-content {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        padding-top: 2%;

        .drawer-recipe-title {
            font-size: 2rem;
            width: 70%;
            text-align: center;
        }

        .drawer-recipe-info {
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            width: 75%;
            margin-top: 6%;

        }
    }
    .open {
        .description {
            margin-top: 2rem;
            font-size: 2rem;
            text-align: flex-start;
            line-height: 1.5;
        }

    }
}

@media (max-width: 850px) {
    .search-content {
        .search-form {
            width: 65vw;
            transition: opacity .75s;
            opacity: 1;
            margin-top: 2rem;
            
            .search-input {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80.21%, rgba(0, 0, 0, 0.25) 100%),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);
                height: 5rem;
                line-height: 5rem;
                width: 45vw;
                font-size: 2rem;
                margin: 0;


            }
    
            .search-button {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 88.02%, #B8B6B6 100%),
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 55.73%),
                linear-gradient(0deg, #FCDE7B, #FCDE7B);
                font-family: Roboto;
                font-size: 2rem;
                font-weight: 400;
                text-align: center;
                width: 20vw;
                height: 5rem;
                transition: .25s ease-in-out;
            
                &:hover {
                    cursor: pointer;
                    color: white;
                    background: coral;
                }
            }
        }
        .search-header {
            width: 100vw;
            .logout-div {
                .logout-link {
                    color: coral;
                    font-size: 3rem;
                    text-decoration: underline;
                    position: relative;
                    right: 30%;
                    top: 4%;
                }
            }
        }

    }
}

@media (max-width: 500px) {
    .search-content {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12rem 2rem 4rem 2rem;
        background: url('../assets/reciplease-search.png');
        background-size: cover;
    
        .search-header {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            height: 10%;

            div {
                .anticon-book {
                    font-size: 25px;
                    margin: 1.5rem 0 0 1rem;
                }
            }

            .landing-title {
                margin-left: 4rem;
                width: 70vw;
            }
            
            .logout-div {
                .logout-link {
                    color: coral;
                    font-size: 1.5rem;
                    text-decoration: underline;
                    position: relative;
                    right: 30%;
                    top: -40%;
                }
            }
        }
    
        .search-form {
            width: 90vw;
            transition: opacity .75s;
            opacity: 1;
            
            .search-input {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80.21%, rgba(0, 0, 0, 0.25) 100%),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);
                height: 3rem;
                line-height: 3rem;
                position: absolute;
                top: 13.5%;
                right: 28%;
                width: 65vw;
                font-size: 16px;


            }
    
            .search-button {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 88.02%, #B8B6B6 100%),
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 55.73%),
                linear-gradient(0deg, #FCDE7B, #FCDE7B);
                font-family: Roboto;
                font-size: 16px;
                position: absolute;
                top: 13.5%;
                right: 3.5%;
                font-weight: 400;
                text-align: center;
                width: 25%;
                height: 3rem;
                transition: .25s ease-in-out;
            
                &:hover {
                    cursor: pointer;
                    color: white;
                    background: coral;
                }
            }
        }
    }
    
    .drawer-container {
        display: flex;
        flex-direction: column;
        .drawer-recipe-image {
            width: 100%;
            display: flex;
            align-self: center;
            justify-self: center;
    
            object-fit: cover;
            border-radius: 10px;
            margin-top: 4%;
        }
    
        .drawer-card-content {
            width: 100%;
            padding-left: 2rem;
            padding-right: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            padding-top: 2%;
    
            .drawer-recipe-title {
                font-size: 2rem;
                width: 70%;
                text-align: center;
            }
    
            .drawer-recipe-info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 6%;
                font-size: 2rem;
    
                .description {
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.5;
                }
            }
        }
    }
}
