.signup-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../assets/signup-page.png");
    background-size: cover;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        background: rgba(235, 244, 255, 0.95);
        width: 40%;

        h3 {
            text-align: center;
            margin-bottom: 3%;
            font-size: 6.4rem;
            font-weight: bold;
            margin-top: 5%;
        }

        p {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 4%;
            width: 454px;
            line-height: 24px;
        }

        .errors {
            color: red;
        }

        .error-modal {
            background: #ea1601;
            color: white;
            border-radius: 10px;
            width: 55%;
            padding: 2%;
        }

        .success-modal {
            background: #64bc26;
            color: white;
            border-radius: 10px;
            width: 55%;
            padding: 2%;
        }

        .signup-input {
            margin-bottom: 5%;
            background: #ffffff;
            width: 65%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            font-size: 2.4rem;
            border: none;
            height: 50px;
            padding-left: 3%;
        }

        .signup-btn {
            background: #FCDE7B;
            border: none;
            font-size: 2.8rem;
            width: 65%;
            margin-top: 2%;
            margin-bottom: 5%;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            text-transform: none;
            color: black;
            transition: .25s ease-in-out;
            cursor: pointer;
            padding: 1rem 0;

            &:hover {
                background: coral;
                color: white;
            }
        }

        .options {
            font-size: 2rem;

            a {
                color: #f17012;

                &:hover {
                    border-bottom: 2px solid #f17012;
                }
                
            }
        }
    }

}

@media (max-width: 850px) {
    .signup-container {
        form {
            width: 80vw;
        }
    }
}

@media (max-width: 500px) {
    .signup-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../assets/signup-page.png");
        background-size: cover;
    
    
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 3rem;
            background: rgba(235, 244, 255, 0.95);
            width: 80%;
    
            h3 {
                text-align: center;
                margin-bottom: 3%;
                font-size: 3rem;
                font-weight: bold;
                margin-top: 5%;
            }
    
            p {
                font-size: 1.3rem;
                text-align: center;
                margin-bottom: 4%;
                width: 80%;
                line-height: 24px;
            }
    
            .errors {
                color: red;
            }
    
            .error-modal {
                background: #ea1601;
                color: white;
                border-radius: 10px;
                width: 55%;
                padding: 2%;
            }
    
            .success-modal {
                background: #64bc26;
                color: white;
                border-radius: 10px;
                width: 55%;
                padding: 2%;
            }
            .signup-btn {
                background: #FCDE7B;
                font-size: 2rem;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                border: none;
                transition: .25s ease-in-out;
                align-self: center;
                margin-top: 3rem;
                margin-bottom: 3rem;
                width: 65%;
            
                &:hover {
                    background: coral;
                    color: white;
                    cursor: pointer;
                }
            }
    
            .MuiInputBase-root { 
                margin-bottom: 5%;
                width: 60%;
                background-color: #ffffff;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                padding-left: 8px;
    
                input {
                    font-size: 2.5rem;
                }
            }
    
            button {
                background: #FCDE7B;
                font-size: 2rem;
                width: 60%;
                margin-top: 2%;
                margin-bottom: 5%;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                text-transform: none;
                color: black;
                transition: .25s ease-in-out;
    
                &:hover {
                    background: coral;
                    color: white;
                }
            }
    
            .options {
                font-size: 1.3rem;
                a {
                    font-size: 1.3rem;
                    color: #f17012;
                }
            }
        }
        
        .login-input {
            border: none;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
            margin-bottom: 2rem;
            width: 80%;
            height: 50px;
            font-size: 24px;
            padding-left: 8px;
            background: white;
        }
    
        .signup-btn {
            background: #FCDE7B;
            font-size: 2rem;
            border-radius: .5rem;
            box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
            border: none;
            transition: .25s ease-in-out;
            align-self: center;
            margin-top: 2.5rem;
            margin-bottom: 3rem;
            width: 65%;
        
            &:hover {
                background: coral;
                color: white;
                cursor: pointer;
            }
        }
    
    }
}

